# Maven
target/
pom.xml.tag
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
builddirectory/
*.[jw]ar
*.ear
*.zip
*.tar.gz
*.rar

# Java
*.class
*.log

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nbproject/
.nbattrs
nbbuild/
dist/
nbdist/
.netbeans/

# Visual Studio Code
.vscode/

# OS and other files
.DS_Store
Thumbs.db
